.hero-section {
    background-image: url("#{resource['images/inicio.jpg']}");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2em;
    border-radius: 1em;
    width: 90%;
    max-width: 1000px;
}

.hero-form-card {
    background: #fff;
    padding: 1.5em;
    border-radius: 30px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.form-col {
    min-width: 200px;
}

.form-btn {
    text-align: center;
}

@media (max-width: 768px) {
    .hero-section {
        height: auto;
        padding: 2em 0;
    }

    .hero-form-card .ui-panelgrid {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

.product-item .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
    height: 100%;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}